@media (min-width: 600px) {
  .passenger-container {
    display: flex;
    flex-direction: row;
    > * { flex: 1 1 auto; }
  }

  .new-passenger-container :first-child {
    margin-right: var(--medium-spacing);
  }

  .booking-section-container {
    display: grid;
    grid-template-columns: 150px 1fr;
  }

  // Offset the difference of 1.2em font in the section heading
  .booking-section-summary {
    margin-top: 4px;
  }
}